.app__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.page__wrapper {
    display: flex;
    
}
.page__content {
    width: 100%;
    background-color: rgb(128, 61, 61);
}